@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    Welcome to my brand new storage! Whether you like it not, here you can find only music I listen.
</p>
<p>
    As mentioned at home page, come and get some! Maybe you'll even like it.
</p>
