@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Wanna more?</h3>

<address>
    Far Far Away<br />
    Left, Right, Left, Right<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dmitry@vladivostok.com">dmitry@vladivostok.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:dmitry@vladivostok.com">dmitry@vladivostok.com</a>
</address>