@model IEnumerable<MvcMusicStorage.Models.Artist>

<ul class="list-group">
    @foreach (var artist in Model)
    {
        <li class="list-group-item">
            <div artist-id="@artist.ArtistID">@artist.Name</div>
        </li>
    }
</ul>
