@model IEnumerable<MvcMusicStorage.Models.Artist>

<ul class="list-group">
    @foreach (var artist in Model)
    {
        <li class="list-group-item">
            <a>@artist.Name</a>
        </li>
    }
</ul>
