@model IEnumerable<MvcMusicStorage.Models.Artist>

@{
    ViewBag.Title = "My music collection";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("ArtistView", Model)
        </div>
        <div class="col-md-9">
            <div data-container="album-view">
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/list-customizer")
}